*{margin:0; padding:0;}
body{background:#eee;}
/*
	.dark{background:#4B7399;}
	.light{background:#EAE9D2;}

	.dark{background:#5FBCD3;}
	.light{background:#AFDDE9;}

	.dark{background:#B18753;}
	.light{background:#FFFFE8;}

	.dark{background:#86A665;}
	.light{background:#FFFFDD;}
*/
.box{
	margin:50px auto;
	width:842px;
}
.box .board{
	float:left;
	width:512px;
	height:512px;
}

.board .square-board{
	float:left;
	width:64px;
	height:64px;
	position:relative;
}
.square-board.possible::before{
	content: '';
	position:absolute;
	top:50%;
	left:50%;
	width:20px;
	height:20px;
	background:rgba(255,255,255,0.7);
	border-radius:50%;

	margin-left:-10px;
	margin-top:-10px;
}
.square-board.possible:hover{background:#8BC0EB; cursor:pointer;}
.dark{background:#4B7399;}
.light{background:#EAE9D2;}

.box .stats{
	float:right;
	width:300px;
}
.box .status{
	float:right;
	width:100%;
	overflow:hidden;
	border-radius:5px;
	box-shadow:#666 0px 2px 2px;
}
.piece{float:left; width:64px; height:64px; background-size:cover !important; cursor:pointer;}

.piece.rook-black{background:url(../images/rook-black.png);}
.piece.knight-black{background:url(../images/knight-black.png);}
.piece.bishop-black{background:url(../images/bishop-black.png);}
.piece.queen-black{background:url(../images/queen-black.png);}
.piece.king-black{background:url(../images/king-black.png);}
.piece.pawn-black{background:url(../images/pawn-black.png);}

.piece.rook-white{background:url(../images/rook-white.png);}
.piece.knight-white{background:url(../images/knight-white.png);}
.piece.bishop-white{background:url(../images/bishop-white.png);}
.piece.queen-white{background:url(../images/queen-white.png);}
.piece.king-white{background:url(../images/king-white.png);}
.piece.pawn-white{background:url(../images/pawn-white.png);}

.player{
	float:left;
	width:100%;
	height:40px;
	background:linear-gradient(to bottom, #fff, #eee 130%);
}

.notation{
	float:left;
	background:#ebebeb;
	width:100%;
	height:395px;
	overflow-y:auto;
}

.notation table{
	float:left;
	width:100%;
	text-align:center;
	color:#666;
	border-collapse: collapse;
	border:1px solid #ccc;
}
.notation table tr td{
	padding:5px;
}
#fenStr{
	float:left;
	width:75%;
	padding:5px;
	background:white;
	border:1px solid #ccc;
	margin-bottom:8px;
	outline:none;
}
#aplicarFen{
	float:left;
	width:20%;
	margin-left:1%;
	padding:5px 6px;
	background:#069;
	color:white;
	border:1px solid #036;
}
#aplicarFen:hover{background:#036; cursor:pointer;}